<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Case Management System</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index-styles.css">
</head>
<body>
    <main>
        <h1>Welcome to Case Management System</h1>
        <p>Manage legal cases effectively with streamlined workflows for Admins, Clerks, Registrars, and Judges.</p>
        <a href="/login" class="button-link">Get Started</a>
        <p style="font-size:10px">Develop by Zohaib and Jayani</p>
    </main>
</body>
</html>
